<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="HawkKey" value="werxhqb98rpaxn39848xrunpaw3489ruxnpa98w4rxn" />
    <add key="ClientTenantId" value="" />
    <add key="TenantId" value="common" />
    <add key="Audience" value="" />
    <add key="ClientId" value="" />
    <add key="ClientSecret" value="" />
    <add key="Scope" value="" />
  
  </appSettings>
  
</configuration>